# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/
.venv/

# Backend
backend/__pycache__/
backend/*.db
backend/*.sqlite
backend/.env

# Node
node_modules/
/dist
frontend/dist/

# Local data
pgadmin_data/
postgres_data/

# IDE
.vscode/
.DS_Store
